body {
	display: flex;
	flex-direction: column;
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
}

.header {
	flex: 1;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #1F2937;
	color: white;
}

.header span {
	font-weight: bold;
	font-size: 24px;
}

.header-menu {
	display: flex;
	list-style: none;
	gap: 10px;
	font-size: 18px;
}

.header-menu a {
	text-decoration: none;
	color: #E5E7EB;
}

.hero {

}

.info {

}

.quote {

}

.call {

}

.footer{

}
